<div class="jarviswidget-editbox">
</div>
<div class="widget-body no-padding">
    <form th:object="${realmodel}" method="POST" th:action="@{/pj/apply/save}"
          id="realentity" class="smart-form"
          xmlns:th="http://www.thymeleaf.org">
        <fieldset>
            <div class="row">
                <section class="col col-6">
                    <label class="input"> <i class="icon-prepend fa fa-userInfo"></i>
                        <input class="" type="text" name="name" th:field="*{name}" placeholder="稽查项目名称"
                               data-rule-required="true" data-msg-required="请输入稽查项目名称">
                        <b class="tooltip tooltip-bottom-right tooltip-realaicy"><span
                                class="tooltip-realaicy">请输入稽查项目名称</span></b>
                        <input id="updateflag" name="updateflag" type="hidden" th:value="${realneworupdate}">
                        <input id="updateID" name="updateID" type="hidden" th:value="${realUpdateID}">
                    </label>
                </section>
                <section class="col col-6">
                    <label class="input"> <i class="icon-prepend fa fa-userInfo"></i>
                        <input class="" type="text" name="orgName" th:field="*{orgName}" placeholder="申请方机构名称"
                               data-rule-required="true" data-msg-required="请输入申请方机构名称">
                        <b class="tooltip tooltip-bottom-right tooltip-realaicy"><span
                                class="tooltip-realaicy">请输入申请方机构名称</span></b>
                    </label>
                </section>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <section class="col col-10">
                    <div class="form-group" id="reali">
                        <label id="reall">请输入待稽查机构名称,按回车键添加</label>
                        <input type="text" class="form-control tagsinput" name="orgtags" id="orgtags"
                               value="" data-role="tagsinput">
                    </div>
                </section>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <section class="col col-5">
                    <label class="input"> <i class="icon-prepend fa fa-userInfo"></i>
                        <input class="" type="text" name="trialAbstractName" th:field="*{trialAbstractName}"
                               placeholder="请输入方案摘要名称"
                               data-rule-required="true" data-msg-required="请输入方案摘要名称">
                        <b class="tooltip tooltip-bottom-right tooltip-realaicy"><span
                                class="tooltip-realaicy">请输入方案摘要名称</span></b>
                    </label>
                </section>
                <section class="col col-5">
                    <label for="realfile" class="input input-file">
                        <div class="button"><input type="file" name="realfile" id="realfile">
                            点击上传
                        </div>
                        <input type="text" id="realfilePath" name="realfilePath" placeholder="请上传文件" readonly="">
                        <input type="hidden" id="trialAbstractURI" name="trialAbstractURI"
                               th:field="*{trialAbstractURI}">
                        <input type="hidden" id="trialCenterNames" name="trialCenterNames"
                               th:field="*{trialCenterNames}">

                    </label>
                </section>
                <section class=" col col-1">
                    <span id="filestatus" style="font-size: 15px;line-height: 30px "></span>
                </section>
            </div>
            <div class="row">
                <section class="col col-10">

                    <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                        <textarea rows="5" name="applyDescribe" th:field="*{applyDescribe}" placeholder="请输入项目简要描述"
                                  data-msg-required="请输入项目简要描述"></textarea>
                        <b class="tooltip tooltip-bottom-right tooltip-realaicy"><span
                                class="tooltip-realaicy">请输入项目简要描述</span></b>
                    </label>

                    <!--<label class="input"> <i class="icon-prepend fa fa-userInfo"></i>
                        <input class="" type="text" name="applyDescribe" th:field="*{applyDescribe}"
                               placeholder="请输入项目简要描述"
                               data-rule-required="true" data-msg-required="请输入项目简要描述">
                        <b class="tooltip tooltip-bottom-right tooltip-realaicy"><span
                                class="tooltip-realaicy">请输入项目简要描述</span></b>
                    </label>-->
                </section>
            </div>
        </fieldset>

        <fieldset style="padding-top: 2px">
            <section class="col col-6">
                <span id="realerrormsg"></span>
            </section>
            <section class="col col-6" align="right" style="padding-top: 6px">
                <button type="reset" class="btn btn-primary"
                        style="height: 32px;width: 80px;font-size: 13px;margin-right: 20px">
                    重置数据
                </button>
                <button type="submit" class="btn btn-primary" style="height: 32px;width: 80px">
                    提交数据
                </button>
            </section>


        </fieldset>
    </form>
</div>

<script type="text/javascript">
    pageSetUp();


    var real_f_fileok = '0';
    var real_filename;

    function uploadFile() {
        console.log("In uploadFile()");
        $("#realfilePath").attr("value", $("#realfile").val());
        $.ajax({
            'beforeSend': function (request) {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                request.setRequestHeader(header, token);
            },
            url: "/uploadFile",
            type: "POST",
            data: new FormData($("#realentity")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                console.log(data);
                $('#filestatus').html("上传成功");
                real_filename = data;
                $('#trialAbstractURI').val(data);
                real_f_fileok = '1';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                console.log(textStatus);
                console.log(jqXHR.responseText);
                $('#filestatus').html("上传失败：" + jqXHR.responseText);

            }
        });
    } // f

    $("#realentity").validate({
        debug: true,
        invalidHandler: function (event, validator) {
            var errors = validator.numberOfInvalids();
            if (errors) {
                var message = errors == 1
                    ? 'You missed 1 field. It has been highlighted'
                    : 'You missed ' + errors + ' fields. They have been highlighted';
                $("#realerrormsg").html(message);
            } else {
                $("div.error").hide();
            }
        },
        errorLabelContainer: "#realerrormsg",
        wrapper: "li",
        errorClass: "state-error",
        validClass: "state-success",
        highlight: function (element, errorClass, validClass) {
            $(element).parent().parent().addClass(errorClass).removeClass(validClass);
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).parent().parent().removeClass(errorClass).addClass(validClass);
        },
        rules: {
            name: {
                required: true,
                minlength: 5,
                maxlength: 200,
                isADCLine: true
            },
            orgName: {
                required: true,
                minlength: 5,
                maxlength: 200,
                isADCLine: true

            },
            trialAbstractName: {
                required: true,
                minlength: 5,
                maxlength: 200,
                isADCLine: true
            },
            orgtags: {
                required: true,
                minlength: 5,
                maxlength: 500,
                isADCLine: true
            },
            applyDescribe: {
                required: true,
                minlength: 5,
                maxlength: 500
            }
        },

        submitHandler: function (form) {

            console.log("a" + $("input").val());
            console.log("b: " + $("#orgtags").val());
            $("#trialCenterNames").val($("#orgtags").val());

            if ($("#updateflag").val() == "new") {
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize(),
                    success: function (response) {
                        if (response.substring(0, 2) == "ok") {
                            real_g_success("创建申请成功！");
                        }
                        else {
                            real_g_fail(response);
                        }
                    }
                });
            } else {
                console.log("editedit");
                $("#updateflag").attr("value", 'editedit');
                $.ajax({
                    url: form.action,
                    type: form.method,
                    data: $(form).serialize(),
                    success: function (response) {
                        if (response.substring(0, 2) == "ok") {
                            real_g_success("修改机构成功！");
                        }
                        else {
                            real_g_fail(response);
                        }
                    }
                });

            }
        }
    });

    var pagefunction = function () {


        loadScript("realres/lib/sa/js/bootstrap-tags/bootstrap-tagsinput.min.js", function () {
            $('.tagsinput').tagsinput('refresh');

            $('input').on('itemAdded', function (event) {
                $('#reall').next().children().removeClass('label');
                console.log("tags: " + $("input").val());
//                console.log($("input").tagsinput('items'));

                $('#toBeCheckedOrgs').val($("input").val());

            });
            $('#reall').next().children().removeClass('label')

        });

        $("#realfile").on("change", uploadFile);

    };

    pagefunction();


</script>