<link href="//cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.css" rel="stylesheet">
<link href="//cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload-ui.css" rel="stylesheet">
<div class="jarviswidget-editbox">
</div>
<div class="widget-body no-padding">
    <!--/*@thymesVar id="realmodel" type=""*/-->
    <form th:object="${realmodel}" method="POST" th:action="@{/pj/apply/save}"
          id="realentity" class="form-horizontal"
          xmlns:th="http://www.thymeleaf.org">


        <fieldset>
            <legend>
                请填写如下信息
            </legend>
            <div class="form-group">
                <label class="col-xs-2 control-label">稽查项目名称<sup>*</sup></label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                           placeholder="请输入稽查项目名称" title=""/>
                    <input id="orglist" type="hidden" th:value="${orglist}">
                    <input id="updateflag" name="updateflag" type="hidden" th:value="${realneworupdate}">
                    <input id="updateID" name="updateID" type="hidden" th:value="${realUpdateID}">
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">申请方机构名称<sup>*</sup></label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="orgName" th:field="*{orgName}" id="orgName"
                           placeholder="请输入申请方机构名称"
                           title=""/>
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">主要研究者<sup>*</sup></label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" id="pi" name="pi" th:field="*{pi}" placeholder="请输入主要研究者姓名"
                           title=""/>
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">请选择待稽查机构<sup>*</sup></label>
                <div class="col-xs-9">
                    <select multiple style="width:100%" class="select2" id="orgids" name="orgids"
                            title="">
                    </select>
                    <input type="hidden" id="trialCenterNames" name="trialCenterNames" th:field="*{trialCenterNames}">
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">请上传研究方案摘要<sup>*</sup></label>
                <div class="col-xs-9">
                    <input type="file" class="btn btn-default" id="realfile" name="realfile">
                    <input type="hidden" id="trialAbstractURI" name="trialAbstractURI" th:field="*{trialAbstractURI}">
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-2 control-label">稽查项目简要描述<sup>*</sup></label>
                <div class="col-xs-9">
                    <textarea class="form-control" rows="5" name="applyDescribe" th:field="*{applyDescribe}"
                              placeholder="请输入项目简要描述"
                              data-msg-required="请输入项目简要描述"></textarea>
                </div>
                <div class="col-xs-1">
                    <i class="glyphicon glyphicon-question-sign" style="font-size: 1.5em" rel="popover-hover"
                       data-container="body" data-placement="left" data-original-title="提示信息"
                       data-content="帮助信息：帮助用户理解所需填写的内容"></i>
                </div>
            </div>

        </fieldset>

        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="submit">
                        <i class="fa fa-eye"></i>
                        Validate
                    </button>
                    <button type="reset" class="btn btn-primary"
                            style="height: 32px;width: 80px;font-size: 13px;margin-right: 20px">
                        重置数据
                    </button>
                    <button type="submit" class="btn btn-primary" style="height: 32px;width: 80px">
                        提交数据
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    pageSetUp();
    $("[rel=popover-hover]").popover({trigger: "hover"});


    var real_f_fileok = '0';
    var real_filename;

    function uploadFile() {
        console.log("In uploadFile()");
        $("#realfilePath").attr("value", $("#realfile").val());
        $.ajax({
            'beforeSend': function (request) {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                request.setRequestHeader(header, token);
            },
            url: "/uploadFile",
            type: "POST",
            data: new FormData($("#realentity")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                console.log(data);
                $('#filestatus').html("上传成功");
                real_filename = data;
                $('#trialAbstractURI').val(data);
                real_f_fileok = '1';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                console.log(textStatus);
                console.log(jqXHR.responseText);
                $('#filestatus').html("上传失败：" + jqXHR.responseText);

            }
        });
    } // f


    $('#realentity').formValidation({
        framework: 'bootstrap',
        excluded: ':disabled',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                validators: {
                    notEmpty: {
                        message: '请输入稽查项目名称'
                    },
                    stringLength: {
                        min: 5,
                        max: 300,
                        message: '请输入5-300个字符'
                    }
                }
            },
            orgName: {
                validators: {
                    notEmpty: {
                        message: '请输入申办机构名称'
                    },
                    stringLength: {
                        min: 5,
                        max: 200,
                        message: '请输入5-200个字符'
                    },
                    regexp: {
                        regexp: /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/,
                        message: '请不要填写非法字符，只能输入中文（不包含生僻字）、英文字母、数字、下划线")'
                    }
                }
            },
            pi: {
                validators: {
                    notEmpty: {
                        message: '请输入主要研究者姓名'
                    },
                    stringLength: {
                        min: 2,
                        max: 10,
                        message: '请输入2-10个字符'
                    },
                    regexp: {
                        regexp: /^(?!_)(?!.*?_$)[a-zA-Z0-9_\u4e00-\u9fa5]+$/,
                        message: '请不要填写非法字符，只能输入中文（不包含生僻字）、英文字母、数字、下划线")'
                    }
                }
            },
            orgids: {
                validators: {
                    callback: {
                        message: '请选择1-3个待稽查机构',
                        callback: function(value, validator, $field) {
                            // Get the selected options
                            var options = validator.getFieldElements('orgids').val();
                            return (options !== null && options.length >= 1 && options.length <= 3);
                        }
                    }
                }
            },
            applyDescribe: {
                validators: {
                    notEmpty: {
                        message: '请输入描述'
                    }
                }
            },
            realfile: {
                validators: {
                    notEmpty: {
                        message: '请上传研究方案摘要'
                    }
                }
            }
        }
    }).on('success.form.fv', function (e) {
        // Prevent form submission
        e.preventDefault();

        var $form = $(e.target);
//            fv = $form.data('formValidation');

        // Use Ajax to submit form data
        $.ajax({
            url: $form.attr('action'),
            type: 'POST',
            data: $form.serialize(),
            success: function (response) {
                if (response.substring(0, 2) === "ok") {
                    if ($("#updateflag").val() === "new") {
                        real_g_success("创建申请成功！");
                    }
                    else {
                        real_g_success("修改XX成功！");
                    }
                }
                else {
                    real_g_fail(response);
                }
            }
        });
    });

    var pagefunction = function () {

        $("#realfile").on("change", uploadFile);

        $("#orgids").select2({
            data: JSON.parse($('#orglist').val())
        }).on("change", function () {
            var data = $(this).select2('data');
            var selectedText = $.map(data, function (selected, i) {
                return selected.text;
            }).join();
            $("#trialCenterNames").val(selectedText);


            $('#realentity').formValidation('revalidateField', 'orgids');
//            console.log("change:" + selectedText);

        });


    };


    loadScript("realaicy/js/s2/select2.full.min.js", pagefunction);

</script>