<div class="jarviswidget-editbox">
</div>
<div class="widget-body no-padding">

    <!--/*@thymesVar id="realmodel" type=""*/-->
    <form th:object="${realmodel}" method="POST" th:action="@{/pj/apply/providecontract}"
          id="realentity" class="form-horizontal" xmlns:th="http://www.thymeleaf.org">

        <fieldset>
            <legend>申请方信息</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">申请项目名称</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{name}" name="name" id="name">
                    <input name="id" type="hidden" th:field="*{id}">
                    <input id="realactiontype" name="realactiontype" type="hidden" th:value="${realactiontype}">
                    <input id="updateflag" name="updateflag" type="hidden" th:value="${updateflag}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">申请机构名称</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{orgName}" name="orgName" id="orgName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">待稽查试验机构（多中心）</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{trialCenterNames}" name="trialCenterNames" id="trialCenterNames">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">试验方案摘要</label>
                <div class="col-md-4">
                    <div style="height: 7px"></div>
                    <a id="realdownlaod">下载摘要 </a>
                    <input class="form-control" placeholder="" type="hidden"
                           th:field="*{trialAbstractURI}" name="trialAbstractURI" id="trialAbstractURI">
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">项目简述</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{applyDescribe}" name="applyDescribe" id="applyDescribe">
                </div>
            </div>
            <legend class="real_legend">协作组秘书长确认信息</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">确认人</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:value="${realmodel.confirmorName}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">确认意见</label>
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4" readonly="readonly"
                              th:field="*{confirmRemark}" name="confirmRemark" id="confirmRemark"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">预报价</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{quotation}" name="quotation" id="quotation">
                </div>
            </div>


            <div>
                <legend class="real_legend">协作组主任审批信息</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">审批人</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="" type="text" readonly="readonly"
                               th:value="${realmodel.approverName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">确认意见</label>
                    <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4" readonly="readonly"
                              th:field="*{approveRemark}" name="approveRemark" id="approveRemark"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <legend class="real_legend">协作组秘书长提供合同信息</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">测试信息</label>
                    <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4" readonly="readonly"
                              th:field="*{contracttmp1}" name="contracttmp1" id="contracttmp1"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">合同文件：</label>
                    <div class="col-md-10">
                        <div style="height: 7px"></div>
                        <a id="contractdownlaod">下载合同</a>
                        <input name="contractURI" type="hidden" th:field="*{contractURI}">
                    </div>

                </div>

                <div class="form-group">
                </div>
            </div>

        </fieldset>
    </form>
    <form th:object="${real_model_trialsolution}" method="POST" th:action="@{/pj/apply/providesolution}"
          id="real_form_model_trialsolution" class="form-horizontal" xmlns:th="http://www.thymeleaf.org">

        <fieldset>
            <div>
                <legend class="real_legend">请申办者确认合同，并上传试验方案</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">测试信息</label>
                    <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4"
                              th:field="*{contracttmp2}" name="contracttmp2" id="contracttmp2"></textarea>
                    </div>
                    <input name="applyid" type="hidden" th:field="*{applyid}">
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label">请上传试验方案</label>
                    <div class="col-md-10">
                        <input type="file" class="btn btn-default" name="realfile" id="realfile">
                        <input type="hidden" id="trialURI" name="trialURI"
                               th:field="*{trialURI}">
                        <p class="help-block" id="fileuploadtip">
                        </p>
                    </div>
                </div>

            </div>

        </fieldset>

        <div class="form-actions">


            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" id="btn_cancel" onclick="real_f_cancel()">
                        取消此次确认操作
                    </button>

                    <button class="btn btn-danger" type="submit" id="btn_submit">
                        <i class="fa fa-save"></i>
                        提交信息
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    var real_flag_buildcontract = "false";
    var real_flag_fileok = '0';


    pageSetUp();

    function uploadsolution() {
        console.log("In uploadsolution()");
        $.ajax({
            'beforeSend': function (request) {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                request.setRequestHeader(header, token);
            },
            url: "/uploadFile",
            type: "POST",
            data: new FormData($("#real_form_model_trialsolution")[0]),
            enctype: 'multipart/form-data',
            processData: false,
            contentType: false,
            cache: false,
            success: function (data) {
                $('#fileuploadtip').html("上传成功");
                real_filename = data;
                $('#trialURI').val(data);
                real_flag_fileok = '1';
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(errorThrown);
                console.log(textStatus);
                console.log(jqXHR.responseText);
                $('#fileuploadtip').html("上传失败：" + jqXHR.responseText);
            }
        });
    } // f


    function real_f_cancel() {
        $("#real_form_model_trialsolution").resetForm();
        $('#article_real_entity').hide();
    }

    $('#real_form_model_trialsolution').formValidation({
        framework: 'bootstrap',
        fields: {
            contracttmp2: {
                validators: {
                    notEmpty: {
                        message: '不能为空'
                    }
                }
            }
        }
    }).on('success.form.fv', function (e) {
        e.preventDefault();
        var $form = $(e.target);

        if(real_flag_fileok==="0"){
            realalert("请先上传研究方案");
            return;
        }


        $("#updateflag").attr("value", 'editedit');


        console.log($form.serialize());
        $.ajax({
            url: $form.attr('action'),
            type: 'POST',
            data: $form.serialize(),
            success: function (response) {
                real_g_success("请求确认成功！");
                changeWorkCount();
            }
        });
    });

    var pagefunction = function () {
    };

    $(document).ready(function () {
        $("#realdownlaod").attr("href", realaicy_g_var_dlurl + $("#trialAbstractURI").val());
        $("#contractdownlaod").attr("href", realaicy_g_var_dlurl + $("#contractURI").val());

        $("#realfile").on("change", uploadsolution);

//        console.log("href:" + realaicy_g_var_dlurl + $("#trialAbstractURI").val());

    });


</script>