<div class="jarviswidget-editbox">
</div>
<div class="widget-body no-padding">

    <!--/*@thymesVar id="realmodel" type=""*/-->
    <form th:object="${realmodel}" method="POST" th:action="@{/pj/apply/providecontract}"
          id="realentity" class="form-horizontal" xmlns:th="http://www.thymeleaf.org">

        <fieldset>
            <legend>申请方信息</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">申请项目名称</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{name}" name="name" id="name">
                    <input name="id" type="hidden" th:field="*{id}">
                    <input id="realactiontype" name="realactiontype" type="hidden" th:value="${realactiontype}">
                    <input id="updateflag" name="updateflag" type="hidden" th:value="${updateflag}">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">申请机构名称</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{orgName}" name="orgName" id="orgName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">待稽查试验机构（多中心）</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{trialCenterNames}" name="trialCenterNames" id="trialCenterNames">
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-2 control-label">试验方案摘要</label>
                <div class="col-md-4">
                    <div style="height: 7px"></div>
                    <a id="realdownlaod">下载摘要 </a>
                    <input class="form-control" placeholder="" type="hidden"
                           th:field="*{trialAbstractURI}" name="trialAbstractURI" id="trialAbstractURI">
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">项目简述</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{applyDescribe}" name="applyDescribe" id="applyDescribe">
                </div>
            </div>
            <legend class="real_legend">协作组秘书长确认信息</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">确认人</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:value="${realmodel.confirmorName}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">确认意见</label>
                <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4" readonly="readonly"
                              th:field="*{confirmRemark}" name="confirmRemark" id="confirmRemark"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">预报价</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:field="*{quotation}" name="quotation" id="quotation">
                </div>
            </div>


            <div>
                <legend class="real_legend">协作组主任审批信息</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">审批人</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="" type="text" readonly="readonly"
                               th:value="${realmodel.approverName}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">确认意见</label>
                    <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4" readonly="readonly"
                              th:field="*{approveRemark}" name="approveRemark" id="approveRemark"></textarea>
                    </div>
                </div>
            </div>

        </fieldset>
    </form>
    <form th:object="${real_model_contract}" method="POST" th:action="@{/pj/apply/providecontract}"
          id="real_form_model_contract" class="form-horizontal" xmlns:th="http://www.thymeleaf.org">

        <fieldset>
            <div>
                <legend class="real_legend">协作组秘书长提供合同信息</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">需要输入的信息1：</label>
                    <div class="col-md-10">
                    <textarea class="form-control" placeholder="" rows="4"
                              th:field="*{contracttmp1}" name="contracttmp1" id="contracttmp1"></textarea>
                    </div>
                    <input name="applyid" type="hidden" th:field="*{applyid}">
                    <input name="contractURI" type="hidden" th:field="*{contractURI}">
                </div>

                <div class="form-group">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <button class="btn btn-primary" type="button" id="btn_buildcontract"
                                onclick="real_f_bcontract()">
                            <i class="fa fa-file-word-o"></i>
                            生成合同文件
                        </button>
                        <a class="btn btn-primary" type="button" id="btn_downcontract" disabled="disabled">
                            <i class="fa fa-eye"></i>
                            下载合同文件
                        </a>
                    </div>


                </div>
            </div>


        </fieldset>

        <div class="form-actions">


            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" id="btn_cancel" onclick="real_f_cancel()">
                        取消此次确认操作
                    </button>

                    <button class="btn btn-danger" type="submit" id="btn_submit">
                        <i class="fa fa-save"></i>
                        提交信息
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    var real_flag_buildcontract = "false";

    pageSetUp();

    function real_f_cancel() {
        $("#real_form_model_contract").resetForm();
        $('#article_real_entity').hide();
    }

    function real_f_bcontract() {
        var $form = $("#real_form_model_contract");

        $("#updateflag").attr("value", 'editedit');

        if($("#contracttmp1").val()===""){
            realalert("请先填写相关信息");
            return;
        }

        $.ajax({
            url: '/pj/apply/buildcontract',
            type: 'POST',
            data: $form.serialize(),
            success: function (response) {
                if (response !== 'error') {
                    $("#btn_downcontract").attr("disabled", false);
                    $("#btn_buildcontract").attr("disabled", true);
                    $("#contracttmp1").attr("readonly", "readonly");
                    $("#btn_submit").removeClass("disabled");
                    $("#btn_submit").attr("disabled", false);


                    $.smallBox({
                        title: '生成合同成功',
                        content: "<i class='fa fa-clock-o'></i> <i>2 seconds ago...</i>",
                        color: "#296191",
                        iconSmall: "fa fa-thumbs-up bounce animated",
                        timeout: 4000
                    });
                    console.log(response);
                    $("#btn_downcontract").attr("href", realaicy_g_var_dlurl + response);
                    $("#contractURI").val(response);
                    real_flag_buildcontract = "true";
                }
            }
        });
    }

    $('#real_form_model_contract').formValidation({
        framework: 'bootstrap',
        fields: {
            contracttmp1: {
                validators: {
                    notEmpty: {
                        message: '不能为空'
                    }
                }
            }
        }
    }).on('success.form.fv', function (e) {
        e.preventDefault();
        var $form = $(e.target);

        if(real_flag_buildcontract==="false"){
            realalert("请先生成合同");
            return;
        }


        $("#updateflag").attr("value", 'editedit');


        console.log($form.serialize());
        $.ajax({
            url: $form.attr('action'),
            type: 'POST',
            data: $form.serialize(),
            success: function (response) {
                real_g_success("请求确认成功！");
                changeWorkCount();
            }
        });
    });

    var pagefunction = function () {
    };

    $(document).ready(function () {
        $("#realdownlaod").attr("href", realaicy_g_var_dlurl + $("#trialAbstractURI").val());
//        console.log("href:" + realaicy_g_var_dlurl + $("#trialAbstractURI").val());

    });


</script>