<title>组织机构</title>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/fancytree/ui.fancytree.css}"
      href="../../../static/realaicy/css/fancytree/ui.fancytree.css"/>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/bootstrap-dialog.min.css}"
      href="../../../static/realaicy/css/bootstrap-dialog.min.css"/>
<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        系统管理
        <span>>
				机构管理
			</span>
    </div>
</div>
<div class="row realheight">
    <section id="widget-grid" class="realheight">
        <div class="alert alert-success  collapse alert-dismissible" role="alert" id="realalert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>操作成功!</strong> <span id="realalertinfo"></span>
        </div>
        <div class="row realheight">
            <article id="article_real_entity" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin" hidden="hidden">
                <div class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity"
                     data-widget-editbutton="false"
                     data-widget-collapsed="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>新增 || 修改 || 查询机构 —— 控制面板</h2>
                    </header>
                    <div id="realeditdiv">
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 realheight">
                <div class="realheight">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"
                         style="min-height: 100%;padding-bottom: 30px;padding-left: 1px;padding-right: 1px">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0" style="min-height: 100%"
                             data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>机构列表</h2>
                            </header>
                            <div style="min-height: 100%">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding" style="min-height: 100%">
                                    <table id="dt_basic_real" class="table table-striped table-bordered table-hover"
                                           style="min-height: 100%">
                                        <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                                <select   id='real_filter_region' class="form-control" title="">
                                                </select>

                                            </th>
                                            <th>
                                                <select name=""  id='real_filter_province' class="form-control" title="">
                                                </select>
                                                <select id="cmbCity" style="display: none" title=""></select>
                                                <select id="cmbArea" style="display: none" title=""></select>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_name' class="form-control"
                                                       placeholder="过滤机构名称"/>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                所属区域
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                所属省份
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                机构名称
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                联系人姓名
                                            </th>
                                            <th class="realaicy_table_header">操作按钮</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">
    pageSetUp();

    var pagefunction = function () {

        addressInit('real_filter_region','real_filter_province','cmbCity','cmbArea');

        $("#real_filter_region").prepend("<option value='*'>——全部区域——</option>");
        $("#real_filter_region").val("*");

        $("#real_filter_province").empty();
        $("#real_filter_province").prepend("<option value='*'>——全部省市——</option>");
        $("#real_filter_province").val("*");


        $("#realbtn-search").on("click", function () {
            console.log("cccccccccccccccccccccc");
        });
        var realtable = $('#dt_basic_real').DataTable(
                {
                    sScrollX: true,
//                    sScrollY: "300px",
                    scrollCollapse: true,
                    bcrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    buttons: [
                        {
                            text: '<i class="glyphicon glyphicon-plus"></i> 新增',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                if ( $("#real_entity").hasClass("jarviswidget-collapsed"))
                                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                                realloadpage("/system/org/new");
                            }
                        },
                        {
                            text: '<i style="font-size:0.5em;" class="glyphicon glyphicon-pencil"></i> 修改',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                var rows_selected = realtable.column(0).checkboxes.selected();
                                if (rows_selected.length <= 0 || rows_selected.length > 1) {
                                    var msg;
                                    if (rows_selected.length <= 0)
                                        msg = "请选择一个待修改的机构";
                                    else
                                        msg = "请求操作不支持多选，请选择一个并且只选择一个待修改机构！";
                                    realalert(msg);
                                } else {

                                    $.each(rows_selected, function (index, rowId) {
                                        realloadpage("/system/org/edit/" + rowId);
                                    });
                                }
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 删除',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                real_g_del("机构", '/system/org/del/');
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 批量删除',
                            className: 'btn btn-danger real_datatables_button_class_right btn-realaicy',
                            action: function (e, dt, node, config) {
                                realalert("功能实现敬请期待。。。。。。");
                            }
                        },
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realloadpage("/system/org/search");
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#real_filter_region").val("*");
                                $("#real_filter_name").val("");
                                $("#real_filter_province").empty();
                                $("#real_filter_province").prepend("<option value='*'>——全部省市——</option>");
                                $("#real_filter_province").val("*");
                                realtable.draw();
                            }
                        },
                        'excel'
                    ],
                    ajax: {
                        url: "/system/org/list4dt",
                        type: "POST",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },
                        "data": function (d) {
                            // d.custom = $('#myInput').val();
                            // etc
                            delete d.columns;
                            var searchString = "";

                            var search_province = $("#real_filter_province").val();
                            var search_region = $("#real_filter_region").val();
                            var search_name = $("#real_filter_name").val();



                            if (search_region != undefined && search_region != "") {
                                searchString += "region:";
                                searchString += search_region;
                            }
                            if (search_province != undefined && search_province != "") {
                                searchString += ",province:";
                                searchString += search_province;
                            }
                            if (search_name != undefined && search_name != "") {
                                searchString += ",name~";
                                searchString += search_name;
                            }

                            d.search = searchString;
                            console.log("search: "+ d.search);

                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id","width":"20px"},
                        {"data": "region","width":"10%"},
                        {"data": "province","width":"10%"},
                        {"data": "name"},
                        {"data": "contactName","width":"10%"},

                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>操作按钮</a>",
                            "width":"20%"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });

        $('#dt_basic_real').on('click', '.btn-intable-realaicy', function () {
            //var data = realtable.row($(this).parents('tr')).data();
            //console.log("data: " + data.id);
            realalert("功能实现敬请期待");
        });

        $("#real_filter_region").on("change", function () {
            $("#real_filter_province").prepend("<option value='*'>——全部省市——</option>");
            $("#real_filter_province").val("*");
            realtable.draw();
        });
        $("#real_filter_province").on("change", function () {
            realtable.draw();
        });

    };

    loadScript("realaicy/js/geo.js", pagefunction);


</script>
