<title>用户</title>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/fancytree/ui.fancytree.css}"
      href="../../../static/realaicy/css/fancytree/ui.fancytree.css"/>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/bootstrap-dialog.min.css}"
      href="../../../static/realaicy/css/bootstrap-dialog.min.css"/>
<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        系统管理
        <span>>
				用户管理
			</span>
    </div>
</div>
<div class="row realheight">
    <section id="widget-grid" class="realheight">
        <div class="alert alert-success  collapse alert-dismissible" role="alert" id="realalert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>操作成功!</strong> <span id="realalertinfo"></span>
        </div>
        <div class="row realheight">
            <article id="article_real_entity" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin" hidden="hidden"
            >
                <div class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity_user"
                     data-widget-editbutton="false"
                     data-widget-collapsed="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>新增 || 修改 || 查询用户 —— 控制面板</h2>
                    </header>
                    <div id="realeditdiv">

                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 realheight">
                <div class="realheight">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"
                         style="min-height: 100%;padding-bottom: 30px;padding-left: 1px;padding-right: 1px">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0" style="min-height: 100%"
                             data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>用户列表</h2>
                            </header>
                            <div style="min-height: 100%">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding" style="min-height: 100%">
                                    <table id="dt_basic_real" class="table table-striped table-bordered table-hover"
                                           style="min-height: 100%">
                                        <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_username' class="form-control"
                                                       placeholder="过滤用户名"/>
                                            </th>
                                            <th>
                                                <input type="text" id="real_filter_nickname" class="form-control"
                                                       placeholder="过滤昵称"/>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_org' class="form-control"
                                                       placeholder="过滤所属机构"/>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_role' class="form-control"
                                                       placeholder="过滤角色"/>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                                                用户名
                                            </th>
                                            <th class="realaicy_table_header">用户昵称</th>
                                            <th class="realaicy_table_header">所属机构</th>
                                            <th class="realaicy_table_header">用户角色</th>
                                            <th data-hide="phone" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-phone text-muted hidden-md hidden-sm hidden-xs"></i>移动电话
                                            </th>
                                            <th class="realaicy_table_header">电子邮箱</th>
                                            <th class="realaicy_table_header">创建时间</th>
                                            <th class="realaicy_table_header">操作按钮</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">
    pageSetUp();

    function realdel() {
        var rows_selected = $('#dt_basic_real').DataTable().column(0).checkboxes.selected();
        if (rows_selected.length <= 0 || rows_selected.length > 1) {
            var msg;
            if (rows_selected.length <= 0)
                msg = "请选择一个待删除的用户";
            else
                msg = "请求操作不支持多选，请选择一个并且只选择一个待删除的用户！";
            realalert(msg);
        } else {
            BootstrapDialog.show({
                title: '系统提示信息',
                message: '请确认是否删除选定数据.',
                buttons: [{
                    label: '确认删除',
                    action: function (dialog) {
                        dialog.close();
                        $("#updateflag").attr("value", 'deldel');
                        $.each(rows_selected, function (index, rowId) {
                            console.log("id: " + rowId);
                            $.ajax({
                                url: '/system/user/del/' + rowId,
                                type: 'GET',
                                success: function (response) {
                                    if (response.substring(0, 2) == "ok") {
                                        real_g_success("——删除用户成功！");
                                    }
                                    else {
                                        real_g_fail(response);
                                    }
                                }
                            });
                        });
                    }
                }, {
                    label: '取消',
                    action: function (dialogItself) {
                        dialogItself.close();
                    }
                }]
            });
        }
    }

    var pagefunction = function () {

        var realtable = $('#dt_basic_real').DataTable(
                {
                    scrollX: true,
                    scrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    buttons: [
                        {
                            text: '<i class="glyphicon glyphicon-plus"></i> 新增',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                //$("#real_entity_user").removeClass("jarviswidget-collapsed");
                                if ( $("#real_entity_user").hasClass("jarviswidget-collapsed"))
                                $("#real_entity_user a.jarviswidget-toggle-btn").trigger("click");
                                realloadpage("/system/user/new");
                            }
                        },
                        {
                            text: '<i style="font-size:0.5em;" class="glyphicon glyphicon-pencil"></i> 修改',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                var rows_selected = realtable.column(0).checkboxes.selected();
                                if (rows_selected.length <= 0 || rows_selected.length > 1) {
                                    var msg;
                                    if (rows_selected.length <= 0)
                                        msg = "请选择一个待修改的用户";
                                    else
                                        msg = "请求操作不支持多选，请选择一个并且只选择一个待修改的用户！";
                                    realalert(msg);
                                } else {
                                    $.each(rows_selected, function (index, rowId) {
                                        if ( $("#real_entity_user").hasClass("jarviswidget-collapsed"))
                                            $("#real_entity_user a.jarviswidget-toggle-btn").trigger("click");
                                        realloadpage("/system/user/edit/" + rowId);
                                    });
                                }
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 删除',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                real_g_del("用户", '/system/user/del/');
                                //realdel();
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 批量删除',
                            className: 'btn btn-danger real_datatables_button_class_right btn-realaicy',
                            action: function (e, dt, node, config) {
                                realalert("功能实现敬请期待。。。。。。");
                            }
                        },
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realloadpage("/system/user/search");
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                $("#real_filter_username").val("");
                                $("#real_filter_nickname").val("");
                                $("#real_filter_org").val("");
                                $("#real_filter_role").val("");

                                realtable.draw();
                            }
                        },
                        'excel'
                    ],

                    ajax: {
                        url: "/system/user/list4dt",
                        type: "POST",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },
                        "data": function (d) {
                            delete d.columns;
                            var searchString = "";
                            var realSearchString = "";
                            var search_username = $("#real_filter_username").val();
                            var search_nickname = $("#real_filter_nickname").val();
                            var search_org = $("#real_filter_org").val();
                            var search_role = $("#real_filter_role").val();

                            if (search_username != undefined && search_username != "") {
                                searchString += "username~";
                                searchString += search_username;
                            }
                            if (search_nickname != undefined && search_nickname != "") {
                                searchString += ",nickname~";
                                searchString += search_nickname;
                            }
                            if (search_org != undefined && search_org != "") {
                                realSearchString += "orgname=" + search_org+",";
                            }
                            if (search_role != undefined && search_role != "") {
                                realSearchString += "rolename=" + search_role + ",";
                            }
                                d.search = searchString;
                                d.realsearch = realSearchString.substring(0,realSearchString.length-1);
                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = login_url;
                            }
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id","width":"20px"},
                        {"data": "username","width":"10%"},
                        {"data": "nickname","width":"10%"},
                        {"data": "orgName","width":"20%"},
                        {"data": "roleNames"},
                        {"data": "mobile"},
                        {"data": "email"},
                        {"data": "createTime","width":"10%"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>分配角色</a>",
                            "width":"20%"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        },
                        {
                            targets: 4,
                            render: function (data, type, row) {
                                return data;
                            }
                        }],
                    select: {
                        style: 'multi'
                    },
                    "order": [[1, 'asc']]
                });

        $('#dt_basic_real').on('click', '.btn-intable-realaicy', function () {
            if ( $("#real_entity_user").hasClass("jarviswidget-collapsed"))
                $("#real_entity_user a.jarviswidget-toggle-btn").trigger("click");
            realloadpage("/system/user/user2role/" + realtable.row($(this).parents('tr')).data().id);
        });
    };
    pagefunction();
</script>
