<div class="jarviswidget-editbox" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
<div class="widget-body no-padding">
    <form id="realroletree" method="post" th:action="@{/system/userInfo/u2rsave}">
        <fieldset>
            <legend>
                分配角色
            </legend>
            <div class="form-group">
                <label>已分配角色</label>
                <div>
                    <select multiple style="width:100%" class="select2" id="roles" name="aaa">
                    </select>
                </div>
                <input id="user2role" name="user2role" type="hidden" th:value="${user2role}">
                <input id="userid" name="userid" type="hidden" th:value="${userid}">
                <input id="user2roles2" name="user2roles2" type="hidden" th:value="${user2roles2}">


                <div id="tree2"></div>
            </div>
        </fieldset>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">
                        <i class="fa fa-save"></i>
                        提交数据
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">

    var realrols = '';

    var reals2roles ='';

    pageSetUp();

    var pagefunction = function () {

        function contains(arr, obj) {
            var i = arr.length;
            while (i--) {
                if (arr[i] === obj) {
                    return true;
                }
            }
            return false;
        }

        $("#roles").select2({
            data: JSON.parse($('#user2roles2').val())
        });

        $("#roles").on("change", function(e) {
            $("#tree2").fancytree("getTree").visit(function(node){
//                console.log("tree node id " + node.data.realid);
                if(contains(eval("["+$("#roles").val().toString()+"]"), node.data.realid)){
//                    console.log("yes ");
                    node.setSelected(true);
                }else {
                    node.setSelected(false);
                }
            });
        });

        var treeData = JSON.parse("[" + $('#user2role').val() + "]");

        $("#tree2").fancytree({
            checkbox: true,
            selectMode: 2,
            source: treeData,
            select: function (event, data) {
                var selNodes = data.tree.getSelectedNodes();
                var selKeys = $.map(selNodes, function (node) {
                    return node.data.realid;
                });
                realrols = selKeys.join(",");
                console.log("realrols: "+realrols);
                $("#roles").val(realrols.split(",")).trigger("change");
            }

        });

        $("#realroletree").validate({
            debug: true,
            submitHandler: function (form) {
                var selNodes = $('#tree2').fancytree("getTree").getSelectedNodes();
                var selKeys = $.map(selNodes, function (node) {
                    return node.data.realid;
                });
                realrols = selKeys.join(",");
                $.ajax({
                    url: '/system/userInfo/u2rsave',
                    type: 'post',
                    data: {
                        userid: $('#userid').val(),
                        user2role: realrols,
                        _csrf: $("meta[name='_csrf']").attr("content")
                    },
                    success: function (response) {
                        if (response == "ok") {
                            real_g_success("用户分配角色成功");
                        }
                        else {
                            real_g_fail(response);
                        }
                    }
                });
            }
        });
    };
    loadScript("realaicy/js/s2/select2.full.min.js", pagefunction);
//    pagefunction();

</script>
