<title>组织机构</title>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/bootstrap-dialog.min.css}"
      href="../../../static/realaicy/css/bootstrap-dialog.min.css"/>
<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        项目管理
        <span>>
				项目列表
			</span>
    </div>
</div>
<div class="row realheight">
    <section id="widget-grid" class="realheight">
        <div class="alert alert-success  collapse alert-dismissible" role="alert" id="realalert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>操作成功!</strong> <span id="realalertinfo"></span>
        </div>
        <div class="row realheight">
            <article id="article_real_entity" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin" hidden="hidden">
                <div class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity"
                     data-widget-editbutton="false"
                     data-widget-collapsed="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2><span id="real_controlpanel_span"></span></h2>
                    </header>
                    <div id="realeditdiv">
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 realheight">
                <div class="realheight">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin"
                         style="min-height: 100%;padding-bottom: 30px;padding-left: 1px;padding-right: 1px">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0" style="min-height: 100%"
                             data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>项目列表</h2>
                            </header>
                            <div style="min-height: 100%">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding" style="min-height: 100%">
                                    <table id="dt_basic_real" class="table table-striped table-bordered table-hover"
                                           style="min-height: 100%">
                                        <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                                <select id='real_filter_status' class="form-control" title="">
                                                    <option value="0" selected>全部状态</option>
                                                    <option value="1">启动</option>
                                                    <option value="2">预稽查</option>
                                                    <option value="3">稽查</option>
                                                    <option value="4">合议</option>
                                                    <option value="5">已初具稽查报告</option>
                                                    <option value="6">稽查后回访</option>
                                                    <option value="7">已完成</option>
                                                </select>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_name' class="form-control"
                                                       placeholder="过滤项目名称"/>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                项目状态
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                项目名称
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                项目进度
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                申请机构
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                待稽查机构
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                稽查合同文件
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-userInfo text-muted hidden-md hidden-sm hidden-xs"></i>
                                                研究方案文件
                                            </th>
                                            <th class="realaicy_table_header">操作按钮</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


<div>

    <!--/*@thymesVar id="real_firstfilter" type=""*/-->
    <input id="auth_pj_pre_conf" name="auth_pj_pre_conf" type="hidden" th:value="${auth_pj_pre_conf}"
           xmlns:th="http://www.thymeleaf.org">
</div>

<script type="text/javascript">


    $(document).ready(function () {

            var realtable = $('#dt_basic_real').DataTable(
                {
                    sScrollX: true,
//                    sScrollY: "300px",
                    scrollCollapse: true,
                    bcrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": false,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    buttons: [
                        {
                            text: '<i class="glyphicon glyphicon-plus"></i> 新增',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function () {
                                realalert("业务不支持，暂时无法新增");
                            }
                        },
                        {
                            text: '<i style="font-size:0.5em;" class="glyphicon glyphicon-pencil"></i> 修改',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function () {
                                realalert("业务不支持，暂时无法修改");
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 删除',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function () {
                                realalert("业务不支持，暂时无法删除");
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 批量删除',
                            className: 'btn btn-danger real_datatables_button_class_right btn-realaicy',
                            action: function () {
                                realalert("功能实现敬请期待。。。。。。");
                            }
                        },
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function () {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function () {
                                realloadpage("/pj/apply/search");
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function () {
                                realtable.draw();
                            }
                        },
                        'excel'
                    ],
                    ajax: {
                        url: "/pj/facade/list4dt",
                        type: "POST",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },
                        "data": function (d) {

                        },
                        error: function (xhr) {
                            if (xhr.responseText.indexOf("invalid") === 0) {
                                window.location = login_url;
                            }
                        },
                        complete: function () {
                            $("[rel=popover-hover]").popover({trigger: "hover"});
//                            $("[rel=popover]").popover();

                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id", "width": "20px"},
                        {
                            "data": "projectStatus", "width": "6%",
                            "render": function (data) {
                                if (data === 1) {
                                    return "<span class='label label-default'>" + "已启动" + "</span>"

                                } else if ((data === 2)) {
                                    return "<span class='label label-primary'>" + "预稽查ing" + "</span>"
                                } else if ((data === 3)) {
                                    return "<span class='label label-info'>" + "稽查ing" + "</span>"
                                } else if ((data === 4)) {
                                    return "<span class='label label-info'>" + "合议ing" + "</span>"
                                }
                                else if ((data === 5)) {
                                    return "<span class='label label-info'>" + "已初具稽查报告" + "</span>"
                                }
                                else if ((data === 6)) {
                                    return "<span class='label label-info'>" + "稽查后回访ing" + "</span>"
                                }
                                else if ((data === 7)) {
                                    return "<span class='label label-danger'>" + "已完成" + "</span>"
                                }

                            }
                        },
                        {
                            "data": "name",
                            "width": "20%",
                            "render": function (data, type, row) {
                                if (data.length > 25) {
                                    return '<a href="javascript:void(0)"  rel="popover-hover" data-container="body" data-placement="left" data-original-title="项目名称" data-content="' + data + '" id=reallongtextcell' + row.id + ' class="real_long_text real_linktodetail">' + data.substr(0, 25) + '...</a>';
                                } else {
//                                    return '<a href="#" data-toggle="popover" title="Popover Header" data-content="Some content inside the popover" class="real_linktodetail">' + data + '</a>';
                                    return '<a href="javascript:void(0);" class="real_linktodetail" >' + data + '</a>';
                                }
                            }
                        },
                        {
                            "data": "projectProcess", "width": "10%",
                            "render": function (data, type, row) {
                                return "<div class='progress progress-xs' data-progressbar-value='75'><div class='progress-bar'></div></div>"
                            }
                        },
                        {"data": "orgName"},
                        {"data": "trialCenterNames"},
                        {
                            "data": "contractURI", "width": "10%",
                            "render": function (data, type, row) {
                                return "<a href='" + realaicy_g_var_dlurl + row.contractURI + "'>" +"下载合同"+ "</a>"
                            }
                        },
                        {
                            "data": "trialURI", "width": "10%",
                            "render": function (data, type, row) {
                                return "<a href='" + realaicy_g_var_dlurl + row.trialURI + "'>" +"下载方案"+ "</a>"
                            }
                        },

                        {
                            "data": null,
                            "render": function (data, type, row) {

                                if (row.projectStatus === 1 && $("#auth_pj_pre_conf").val() === "1") {
                                    return "<a  class='btn btn-danger btn-intable-realaicy  real_css_btn_preconf'>配置预稽查</a>"
                                }

                            }

//                            return "<a class='" + realaicy_g_var_dlurl + row.trialAbstractURI + "'>" + data + "</a>"
//                        "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>操作按钮</a>",

                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        },
                        {'className': 'real_dt_center', 'targets': 1},
                        {'className': 'real_dt_center', 'targets': 2},
                        {'className': 'real_dt_center', 'targets': 4},
                        {'className': 'real_dt_center', 'targets': 5},
                        {'className': 'real_dt_center', 'targets': 6},
                        {'className': 'real_dt_center', 'targets': 7}],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });


            /**
             * 配置预稽查
             */
            $('#dt_basic_real').on('click', '.real_css_btn_preconf', function () {

                if ($("#real_entity").hasClass("jarviswidget-collapsed"))
                    $("#real_entity a.jarviswidget-toggle-btn").trigger("click");
                realloadpage("/pj/pre/conf?realactiontype=ini&pjid=" + realtable.row($(this).parents('tr')).data().id);
            });




        }// end of ready
    );



</script>
