<title>稽查数据库</title>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/fancytree/ui.fancytree.css}"
      href="../../../static/realaicy/css/fancytree/ui.fancytree.css"/>
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/bootstrap-dialog.min.css}"
      href="../../../static/realaicy/css/bootstrap-dialog.min.css"/>
<div class="row no-margin no-padding" style="height: 40px">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4 no-margin no-padding" style="height: 40px;font-size: 16px">
        <i class="fa-fw fa fa-home"></i>
        稽查数据库管理
        <span>>
				稽查数据库检查项操作步骤管理
			</span>
    </div>
</div>
<div class="row realheight">
    <section id="widget-grid" class="realheight">
        <div class="alert alert-suaccess  collapse alert-dismissible" role="alert" id="realalert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                    aria-hidden="true">&times;</span></button>
            <strong>操作成功!</strong> <span id="realalertinfo"></span>
        </div>
        <div class="row realheight">
            <article id="article_real_entity" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-margin" hidden="hidden">
                <div class="jarviswidget jarviswidget-color-darken widget-realaicy" id="real_entity"
                     data-widget-editbutton="false"
                     data-widget-collapsed="false"
                     data-widget-deletebutton="false"
                     data-widget-fullscreenbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>新增 || 修改 || 查询检查项操作步骤 —— 控制面板</h2>
                    </header>
                    <div id="realeditdiv">
                    </div>
                </div>
            </article>
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12 realheight">
                <div class="realheight">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 no-margin"
                         style="min-height: 100%;padding-bottom: 30px;padding-left: 2px;padding-right: 6px">
                        <div class="jarviswidget no-padding realheight" id="wid-id-1">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                                <h2>检查项结构树</h2>
                            </header>
                            <div class="realheight">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding">
                                    <div class="widget-body-toolbar">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                    <input class="form-control" id="f_chkitemname" name="f_chkitemname"
                                                           placeholder="过滤检查项名称"
                                                           type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="custom-scroll table-responsive no-padding no-margin realheight">
                                        <table id="treetable"
                                               class="table table-striped table-bordered table-hover no-padding no-margin">
                                            <colgroup style="width: 100%">
                                                <col width="30px"/>
                                                <col width="30px"/>
                                                <col width="*"/>
                                            </colgroup>
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>编号</th>
                                                <th>检查项名称</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 no-margin"
                         style="min-height: 100%;padding-bottom: 30px;padding-left: 1px;padding-right: 1px">
                        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-real0" style="min-height: 100%"
                             data-widget-editbutton="false">
                            <header>
                                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                                <h2>操作步骤列表</h2>
                            </header>
                            <div style="min-height: 100%">
                                <div class="jarviswidget-editbox">
                                </div>
                                <div class="widget-body no-padding" style="min-height: 100%">
                                    <table id="dt_basic_real" class="table table-striped table-bordered table-hover"
                                           style="min-height: 100%">
                                        <thead>
                                        <tr>
                                            <th>
                                            </th>
                                            <th>
                                                <input type="text" id='real_filter_name' class="form-control"
                                                       placeholder="过滤操作步骤"/>
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                            </th>
                                            <th data-class="expand" class="realaicy_table_header"><i
                                                    class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                                                操作步骤名称
                                            </th>
                                            <th class="realaicy_table_header">操作按钮</th>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">

    pageSetUp();

    var realOrgID = "";

    function real_filter_chkitem() {
        //console.log("bbbbbb");
//        $("#treetable").fancytree("getTree").filterNodes('aa', {
//            autoExpand: true,
//            leavesOnly: true
//        });
    }

    var pagefunction = function () {

        $("#realbtn-search").on("click", function () {
            //do something here
            console.log("cccccccccccccccccccccc");
            // realtable.search("哈哈哈哈哈哈").draw();
            //realtable.columns(1).search("哈哈哈哈哈哈").draw();
            //console.log("dddddddddddddddddddddd");
        });

        $("#treetable").fancytree({
            extensions: ["table"],
            autoScrollll: true,
            checkbox: false,
            table: {
                indentation: 20,
                nodeColumnIdx: 2,
                checkboxColumnIdx: 0
            },
            filter: {
                counter: true, // Show a badge with number of matching child nodes near parent icons
                hideExpandedCounter: true, // Hide counter badge, when parent is expanded
                mode: "hide"  // "dimm": Grayo
            },
            source: {
                url: "/auditdb/chkitem/list",
                cache: false
            },
            renderColumns: function (event, data) {
                var node = data.node,
                        $tdList = $(node.tr).find(">td");
                $tdList.eq(1).text(node.getIndexHier()).addClass("alignRight");
            },
            activate: function (event, data) {
                var node = data.node;
                realOrgID = node.data.id;
                realtable.draw();
            }
        });

        var realtable = $('#dt_basic_real').DataTable(
                {
                    sScrollX: true,
//                    sScrollY: "300px",
                    scrollCollapse: true,
                    bcrollCollapse: true,
                    "pagingType": "full_numbers",
                    "searching": true,
                    "language": realaicy_g_var_tableopt_lang,
                    // "dom": 'rt<"bottom"iflp<"clear">>',
                    "dom": "<'dt-toolbar'<'col-xs-12 col-sm-10'B><'col-sm-2 col-xs-2 hidden-xs'C>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-sm-6 col-xs-12'p>>",
                    "autoWidth": true,
                    buttons: [
                        {
                            text: '<i class="glyphicon glyphicon-plus"></i> 新增',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                if (realOrgID == '') {
                                    realalert("请选择组织机构")
                                } else {
                                    realloadpage("/system/role/new/" + realOrgID);
                                }
                            }
                        },
                        {
                            text: '<i style="font-size:0.5em;" class="glyphicon glyphicon-pencil"></i> 修改',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                var rows_selected = realtable.column(0).checkboxes.selected();
                                if (rows_selected.length <= 0 || rows_selected.length > 1) {
                                    var msg;
                                    if (rows_selected.length <= 0)
                                        msg = "请选择一个待修改的角色";
                                    else
                                        msg = "请求操作不支持多选，请选择一个并且只选择一个待修改角色！";
                                    realalert(msg);
                                } else {

                                    $.each(rows_selected, function (index, rowId) {
                                        realloadpage("/system/role/show/" + rowId);
                                    });
                                }
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 删除',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                real_g_del("角色", '/system/role/del/');
                            }
                        },
                        {
                            text: '<i  class="fa fa-trash-o"></i> 批量删除',
                            className: 'btn btn-danger real_datatables_button_class_right btn-realaicy',
                            action: function (e, dt, node, config) {
                                //alert('Button activated');
                                realalert("功能实现敬请期待。。。。。。");
                                /*var rows_selected = realtable.column(0).checkboxes.selected();
                                 $.each(rows_selected, function (index, rowId) {
                                 console.log("id: " + rowId);
                                 });
                                 if (rows_selected.length > 0) {
                                 console.log("youyouyou: ");
                                 }*/
                            }
                        },
                        {
                            text: '快速查询',
                            className: 'btn btn-info real_datatables_button_class_left btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        {
                            text: '自助复杂查询',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realloadpage("/system/role/search");
                            }
                        },
                        {
                            text: '刷新数据',
                            className: 'btn btn-info real_datatables_button_class_ingroup btn-realaicy',
                            action: function (e, dt, node, config) {
                                realtable.draw();
                            }
                        },
                        'excel'
                    ],
                    ajax: {
                        url: "/system/role/list4dt",
                        type: "POST",
                        'beforeSend': function (request) {
                            var token = $("meta[name='_csrf']").attr("content");
                            var header = $("meta[name='_csrf_header']").attr("content");
                            request.setRequestHeader(header, token);
                        },
                        "data": function (d) {
                            // d.custom = $('#myInput').val();
                            // etc
                            delete d.columns;
                            var searchString = "";
                            var search_name = $("#real_filter_name").val();

                            if (search_name != undefined && search_name != "") {
                                searchString += "name:*";
                                searchString += search_name;
                                searchString += "*";

                            }
                            d.search = searchString;
                            d.orgID = realOrgID;

                        },
                        error: function (xhr, status, error) {
                            if (xhr.responseText.indexOf("invalid") == 0) {
                                location = "http://127.0.0.1:48080/";
                            }
                        }
                    },
                    processing: true,
                    serverSide: true,
                    columns: [
                        {"data": "id"},
                        {"data": "name"},
                        {
                            "data": null,
                            "defaultContent": "<a  class='btn btn-danger btn-intable-realaicy real-test'>操作按钮</a>"
                        }
                    ],
                    columnDefs: [
                        {
                            searchable: false,
                            orderable: false,
//                                className: 'select-checkbox',
                            targets: 0,
                            'checkboxes': {
                                'selectRow': false
                            }
                        }],
                    select: {
                        style: 'multi'
//                            selector: ':not(:last-child)'
                    },
                    "order": [[1, 'asc']]
                });

        $('#dt_basic_real').on('click', '.btn-intable-realaicy', function () {
            //var data = realtable.row($(this).parents('tr')).data();
            //console.log("data: " + data.id);
            realalert("功能实现敬请期待");
        });

    };

    pagefunction();

    $("#f_chkitemname").change(function () {
        console.log("aaaa: " + $("input[name=f_chkitemname]").val());
        $("#treetable").fancytree("getTree").filterNodes('一', {
            autoExpand: true,
            leavesOnly: true
        });
    });


</script>
