<link href="//cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload.css" rel="stylesheet"
      xmlns:th="http://www.w3.org/1999/xhtml">
<link href="//cdn.bootcss.com/blueimp-file-upload/9.18.0/css/jquery.fileupload-ui.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" media="screen"
      th:href="@{realres/lib/rating/fontawesome-stars.css}">

<div class="jarviswidget-editbox">
</div>
<div class="widget-body no-padding">

    <!--/*@thymesVar id="realentity" type=""*/-->
    <form th:object="${checkruntime_model}" method="POST" th:action="@{/pj/pre/docheck}"
          id="realentity" class="form-horizontal"
          xmlns:th="http://www.thymeleaf.org">

        <fieldset>
            <legend>项目信息</legend>
            <div class="form-group">
                <label class="col-md-2 control-label">项目名称</label>
                <div class="col-md-10">
                    <input class="form-control" placeholder="" type="text" readonly="readonly"
                           th:value="${precheck.projectName}">
                    <input id="preinsid" type="hidden" readonly="readonly"
                           th:value="${precheck.id}">
                </div>
                <input class="form-control" placeholder="" type="hidden" readonly="readonly"
                       th:field="*{id}" name="id" id="id">
            </div>
            <legend class="real_legend">其他预稽查员信息</legend>
            <div class="form-group" th:each="checkmodule : ${precheck.checkRuntimeVOList}">
                <label class="col-md-2 control-label" th:text="${checkmodule.name}"></label>
                <label class="col-md-2 control-label" th:text="${checkmodule.score}"></label>

            </div>

            <div id="real_div_approve">
                <legend class="real_legend">我的预稽查工作</legend>
                <div class="form-group">
                    <label class="col-md-2 control-label">检查项目名称</label>
                    <div class="col-md-10">
                        <input class="form-control" placeholder="" type="text" readonly="readonly"
                               th:field="*{name}" name="name" id="name">
                    </div>
                </div>
                <div class="form-group" th:each="checkitem : ${precheckitems}">
                    <label class="col-md-3 control-label" th:text="${checkitem.name}"></label>
                    <div class="col-md-9">
                        <div class="form-group">
                            <div class="col-md-4">
                                <input type="hidden" th:value="${checkitem.id}">
                                <select class="real_rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                            </div>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">稽查结论（记录）</label>
                    <div class="col-md-10">
                    <textarea class="form-control real_input_affirm" placeholder="" rows="4"
                              th:field="*{checkRemark}" name="checkRemark" id="checkRemark"></textarea>
                    </div>
                    <input class="form-control" placeholder="" type="hidden"
                           th:field="*{itemgrade}" name="itemgrade" id="itemgrade">
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">综合评分</label>
                    <div class="col-md-10">
                        <div class="knobs-demo">
                            <div>
                                <input class="knob" th:field="*{score}" name="score" id="score"
                                       data-width="120" data-height="120" data-displayInput=true value="60"
                                       data-displayPrevious=true data-fgColor="#428BCA" title="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </fieldset>

        <div class="form-actions">


            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-default" type="button" id="btn_cancel" onclick="realclick()">
                        取消此次操作
                    </button>

                    <button class="btn btn-primary" type="button" id="h_btn_save">
                        <i class="fa fa-save"></i>
                        确认提交
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/javascript">

    var ratingOBJ={};
    var ratingStr='';

    function realclick() {
        $("#realentity").resetForm();
        $('#article_real_entity').hide();
    }

    var pagefunction = function () {

    };

    $(document).ready(function () {

        /*
         * KNOB
         */
        loadScript("realres/lib/rating/jquery.barrating.min.js",
            loadScript("smartadmin/js/plugin/knob/jquery.knob.min.js", startKnob));

        function startKnob() {

            $('.real_rating').barrating({
                theme: 'fontawesome-stars',
                onSelect: function(value, text, event) {
                    if (typeof(event) !== 'undefined') {
                        // rating was selected by a user
//                        console.log(event.target);
//                        console.log(value);
//                        console.log($(event.target).parent().parent().prev().val());
                        ratingOBJ[$(event.target).parent().parent().prev().val()] = value;
//                        console.log(ratingOBJ[$(event.target).parent().parent().prev().val()]);
                        ratingStr='';
                        for (var Key in ratingOBJ){
                            ratingStr+=','+Key+':'+ratingOBJ[Key];
                        }
//                        console.log(ratingStr);
                        $('#itemgrade').val(ratingStr);
                    } else {
                        // rating was selected programmatically
                        // by calling `set` method
                    }
                }
            });


            $('.knob').knob({
                change: function (value) {
                    console.log("change22 : " + value);
                },
                release: function (value) {
                    //console.log(this.$.attr('value'));
                    //console.log("release : " + value);
                },
                cancel: function () {
                    //console.log("cancel : ", this);
                }
            });
        }

        $("#h_btn_save").click(function () {

            var $form = $("#realentity");
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: $form.serialize(),
                success: function (response) {
                    if (response.substring(0, 2) === "ok") {
                        real_g_success("请求确认成功！");
                    }
                    else {
                        real_g_fail(response);
                    }
                }
            });
        });

    });

</script>