<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org"
      th:href="@{/realaicy/css/fancytree/ui.fancytree.css}"
      href="../../../static/realaicy/css/fancytree/ui.fancytree.css"/>
<div class="jarviswidget-editbox" xmlns:th="http://www.w3.org/1999/xhtml">
</div>
<div class="widget-body">

    <div class="row">
        <form th:object="${realmodel}" method="POST" th:action="@{/pj/pre/save}"
              id="realentity" xmlns:th="http://www.thymeleaf.org">
            <div id="bootstrap-wizard-1" class="col-sm-12">
                <div class="form-bootstrapWizard">
                    <ul class="bootstrapWizard form-wizard">
                        <li class="active" data-target="#step1">
                            <a href="#tab1" data-toggle="tab"> <span class="step">1</span> <span
                                    class="title">选择预稽查人员</span> </a>
                        </li>
                        <li data-target="#step2">
                            <a href="#tab2" data-toggle="tab"> <span class="step">2</span> <span
                                    class="title">配置预稽查工作项</span> </a>
                        </li>
                        <li data-target="#step3">
                            <a href="#tab3" data-toggle="tab"> <span class="step">3</span> <span
                                    class="title">其他信息1</span> </a>
                        </li>
                        <li data-target="#step4">
                            <a href="#tab4" data-toggle="tab"> <span class="step">4</span> <span
                                    class="title">其他信息2</span> </a>
                        </li>
                        <li data-target="#step5">
                            <a href="#tab5" data-toggle="tab"> <span class="step">5</span> <span
                                    class="title">保存项目</span> </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <br>
                        <br>
                        <br>
                        <h4><strong>Step 1 </strong> - 选择预稽查人员</h4>
                        <br>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"
                                               style="text-align: left ;padding-top: 6px">选择预稽查模版：</label>
                                        <div class="col-md-10">
                                            <select style="width:50%" class="select2"
                                                    id="h_id_pretems" name="h_id_pretems">
                                                <option th:each="tem : ${pretems}"
                                                        th:value="${tem}" th:text="${tem}"></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"
                                               style="text-align: left ;padding-top: 6px">选择预稽查组长：</label>
                                        <div class="col-md-10">
                                            <select style="width:50%" class="select2"
                                                    id="h_id_preleader" name="h_id_preleader" title="">
                                                <option th:each="leader : ${preleaders}"
                                                        th:value="${leader.id}" th:text="${leader.nickname}"></option>
                                            </select>
                                            <input id="h_i_preleader" name="h_i_preleader" type="hidden"
                                                   th:field="*{preleader}">
                                            <input id="h_i_pjid" name="h_i_pjid" type="hidden"
                                                   th:field="*{pjID}">
                                            <input id="h_i_checkmodulename" name="h_i_checkmodulename" type="hidden"
                                                   th:field="*{checkModuleName}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"
                                               style="text-align: left ;padding-top: 6px">选择预稽查人员：</label>
                                        <div class="col-md-10">
                                            <select multiple style="width:50%" class="select2"
                                                    id="h_id_precheckers" name="h_id_precheckers" title="">

                                                <optgroup label="已报名稽查员">
                                                    <option th:each="checker : ${preapplycheckers}"
                                                            th:value="${checker.id}"
                                                            th:text="${checker.nickname}"></option>
                                                </optgroup>

                                                <optgroup label="未报名稽查员">
                                                    <option th:each="checker : ${preothercheckers}"
                                                            th:value="${checker.id}"
                                                            th:text="${checker.nickname}"></option>
                                                </optgroup>


                                            </select>
                                            <input id="h_i_precheckers" name="h_i_precheckers" type="hidden"
                                                   th:field="*{precheckers}">

                                            <input id="h_i_jobs" name="h_i_jobs" type="hidden"
                                                   th:field="*{checkStr}">

                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div class="form-group">
                                        <label class="col-md-2 control-label"
                                               style="text-align: left ;padding-top: 6px">请选择项目预稽查起止时间：</label>
                                        <div class="col-md-10">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="margin-bottom: 10px">
                                    <div class="form-group">

                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input class="form-control" type="text"
                                                       th:field="*{preSDate}"
                                                       placeholder="开始时间">
                                                <span class="input-group-addon"><i
                                                        class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="input-group">
                                                <input class="form-control" type="text" th:field="*{preFDate}"
                                                       placeholder="结束时间">
                                                <span class="input-group-addon"><i
                                                        class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </fieldset>

                    </div>
                    <div class="tab-pane" id="tab2">
                        <br>
                        <br>
                        <br>
                        <h4><strong>Step 2 </strong> - 配置预稽查工作项</h4>
                        <br>
                        <table id="treetable" class="table table-striped table-bordered table-hover"
                               style="height: 100%">
                            <colgroup>
                                <col width="30px"/>
                                <col width="30px"/>
                                <col width="*"/>
                                <col width="200px"/>
                                <col width="150px"/>

                            </colgroup>
                            <thead>
                            <tr>
                                <th></th>
                                <th>#</th>
                                <th>预稽查稽查模块名称</th>
                                <th>选择稽查人员</th>
                                <th>选择DEADLINE</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>-->
                            <!--<td>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--<select style="width:99%" class="select2 real_select2_in_tree"-->
                            <!--title="">-->
                            <!--</select>-->
                            <!--</td>-->
                            <!--<td>-->
                            <!--</td>-->
                            <!--</tr>-->

                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <br>
                        <br>
                        <br>
                        <h4><strong>Step 3 </strong> - 其他信息1</h4>
                        <br>

                    </div>
                    <div class="tab-pane" id="tab4">
                        <br>
                        <br>
                        <br>
                        <h4><strong>Step 4</strong> - 其他信息2</h4>
                        <div class="row">
                        </div>
                    </div>
                    <div class="tab-pane" id="tab5">
                        <br>
                        <br>
                        <br>
                        <h4><strong>Step 5</strong> - 确认保存</h4>
                        <br>
                        <div class="input-group">
                            <div class="input-group-btn">
                                <a href="javascript:void(0);" id="h_btn_save"
                                   class="btn btn-labeled btn-primary"> <span
                                        class="btn-label"><i
                                        class="glyphicon glyphicon-ok"></i></span>确认保存预稽查配置
                                </a>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>

                    <div class="form-actions">
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="pager wizard no-margin">
                                    <!--<li class="previous first disabled">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-default"> First </a>
                                    </li>-->
                                    <li class="previous disabled">
                                        <a href="javascript:void(0);"
                                           class="btn btn-lg btn-default"> Previous </a>
                                    </li>
                                    <!--<li class="next last">
                                    <a href="javascript:void(0);" class="btn btn-lg btn-primary"> Last </a>
                                    </li>-->
                                    <li class="next">
                                        <a href="javascript:void(0);"
                                           class="btn btn-lg txt-color-darken"> Next </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</div>

<script type="text/javascript">

    var real_canselectusers = [];
    var temname = '';

    loadScript("smartadmin/js/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js", runBootstrapWizard);

    //Bootstrap Wizard Validations

    function runBootstrapWizard() {


        var treeOptions = {
            keyPathSeparator: '$',
            extensions: ["table", "filter"],
            checkbox: true,
            expanded: true,
            selectMode: 3,
            table: {
                indentation: 20,
                nodeColumnIdx: 2,
                checkboxColumnIdx: 0
            },
            filter: {
                counter: true,
                hideExpandedCounter: true,
                mode: "hide"
            },
            source: {
                url: "/auditdb/pre/chkmodule/list",
                data: {temname: $("#h_id_pretems").val()},
                cache: false
            },
            createNode: function (event, data) {
//                var node = data.node,
//                    $tdList = $(node.tr).find(">td");
//
//                // Span the remaining columns if it's a folder.
//                // We can do this in createNode instead of renderColumns, because
//                // the `isFolder` status is unlikely to change later
//                if (node.isFolder()) {
//                    $tdList.eq(2)
//                        .prop("colspan", 3)
//                        .nextAll().remove();
//                }
            },
            renderColumns: function (event, data) {
                var node = data.node,
                    $tdList = $(node.tr).find(">td");
                $tdList.eq(1).text(node.getIndexHier()).addClass("alignRight");
//                $tdList.eq(4).text(node.data.resWeight);
                $tdList.eq(3).html('<select style="width:99%" class="select2 real_select2_in_tree" > </select>');
                $(".real_select2_in_tree").select2({
                    data: real_canselectusers
                });

                $tdList.eq(4).html('<input class="real_dp_in_tree form-control" type="text"  placeholder="最晚执行日期">');
                $(".real_dp_in_tree").datepicker({});

//                if (!node.isFolder()) {
//                    $tdList.eq(3).html('<select style="width:99%" class="select2 real_select2_in_tree" > </select>');
//                    $(".real_select2_in_tree").select2({
//                        data: real_canselectusers
//                    });
//
//                    $tdList.eq(4).html('<input class="real_dp_in_tree form-control" type="text"  placeholder="最晚执行日期">');
//                    $(".real_dp_in_tree").datepicker({});
//
//                }

//                $tdList.eq(3).text("叶子");
//                if(!node.isFolder()){
//                    $tdList.eq(3).text("叶子");
//                }
            },
            complete: function () {
                $('#treetable').fancytree("getRootNode").visit(function (node) {
                    node.expand(true);
                    if (node.isExpanded()) {
                        return true;
                    }
                    node.setExpanded(true);
                    node.expand(true);
                })
            },
            activate: function (event, data) {
                var node = data.node;
                $("#nowid").text(node.title);
            },
            select: function (event, data) {
            }
        }; // initial options

        var sourceTree = $('#treetable').fancytree(treeOptions);

        $("#treetable").delegate(".real_select2_in_tree", "change", function (e) {
            var node = $.ui.fancytree.getNode(e.target),
                $select = $(e.target);
            e.stopPropagation();
            node.visit(function (child) {
                    var $tdList = $(child.tr).find(">td");
                    //console.log('visiting ' + child.key + ': ' + child.title + ': ' + $tdList.eq(3).find(">select").val());
                    $tdList.eq(3).find(">select").val($select.val()).trigger('change');
                }
            );
        });

        $("#treetable").delegate(".real_dp_in_tree", "change", function (e) {

            var node = $.ui.fancytree.getNode(e.target),
                $select = $(e.target);
            e.stopPropagation();
//            console.log($select.val());
            node.visit(function (child) {
                    var $tdList = $(child.tr).find(">td");
                    //console.log('visiting ' + child.key + ': ' + child.title + ': ' + $tdList.eq(3).find(">select").val());
                    $tdList.eq(4).find(">input").val($select.val()).trigger('change');
                }
            );

//            var $tdList2 = $(node.tr).find(">td");
//            console.log($tdList2.eq(4).find(">input").val());

        });

        $('#bootstrap-wizard-1').bootstrapWizard({
            'tabClass': 'form-wizard',
            'onNext': function (tab, navigation, index) {
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).addClass('complete');
                $('#bootstrap-wizard-1').find('.form-wizard').children('li').eq(index - 1).find('.step').html('<i class="fa fa-check"></i>');

//                console.log("index: " +index);
                if (index === 1) {
                    real_canselectusers = [];
                    var tmp = {id: $("#h_id_preleader").val(), text: $("#h_id_preleader").select2('data')[0].text};
//                    console.log("tmp: " + JSON.stringify(tmp));
                    real_canselectusers.push(tmp);
                    console.log("tmp: " + JSON.stringify(real_canselectusers[0]));

                    for (i = 0; i < $("#h_id_precheckers").select2('data').length; i++) {

                        var tmp2 = {
                            id: $("#h_id_precheckers").select2('data')[i].id,
                            text: $("#h_id_precheckers").select2('data')[i].text
                        };
                        if (tmp2.id === tmp.id)
                            continue;
                        real_canselectusers.push(tmp2);
                    }
                    console.log("real_canselectusers: " + JSON.stringify(real_canselectusers));


                    $(".real_select2_in_tree").select2({
                        data: real_canselectusers
                    });
                }


                if (index === 2) {
                    $('#treetable').fancytree("getRootNode").visit(function (node) {
                            node.setExpanded();
                            if (!node.isFolder()) {
                                var $tdList = $(node.tr).find(">td");
                                console.log('visiting ' + node.key + ': ' + node.title + ': ' + $tdList.eq(3).find(">select").val()
                                    + ': ' + $tdList.eq(4).find(">input").val());
                            }
                        }
                    );
                }

            }

        });

    };

    function pageini() {

    }


    $(document).ready(function () {
        $('#preFDate').attr('disabled', 'disabled');
        $('#preSDate').datepicker({
//            defaultDate: "+1d",
            minDate: 0,
            maxDate: "+3M",
//            dateFormat: 'dd M yy',
            showOtherMonths: true,
            changeMonth: true,
            selectOtherMonths: true,
            required: true,
            showOn: "focus",
            numberOfMonths: 2,
            onClose: function (selectedDate) {
            }
        });

        $('#preSDate').change(function () {
            var from = $('#preSDate').datepicker('getDate');
            var date_diff = Math.ceil((from.getTime() - Date.parse(new Date())) / 86400000);
            var maxDate_d = date_diff + 7 + 'd';
            date_diff = date_diff + 'd';
            $('#preFDate').val('').removeAttr('disabled').removeClass('hasDatepicker').datepicker({
                minDate: date_diff,
                maxDate: maxDate_d,
                numberOfMonths: 2
            });
        });

        $("#h_id_preleader").select2({});

        $("#h_id_pretems").select2({});

        $("#h_id_pretems").on("change", function (e) {
            console.log("temname: " + $("#h_id_pretems").val());
            $('#h_i_checkmodulename').val($("#h_id_pretems").val());
            var temname = $('option:selected', this).val();

            var newSourceOption = {
                url: "/auditdb/pre/chkmodule/list",
                data: {temname: temname},
                cache: false,
                dataType: 'json'
            };

            var tree = $('#treetable').fancytree('getTree');
            tree.reload(newSourceOption);
            $(".real_select2_in_tree").select2({
                data: real_canselectusers
            });
        });


        $("#h_id_precheckers").select2();
        $("#h_id_precheckers").on("change", function (e) {
            $("#h_i_precheckers").val($("#h_id_precheckers").val());
//            console.log("leader: " + $("#h_id_preleaders").val() + $("#h_id_preleaders").select2('data')[0].text);
//            console.log("leader: " + $("#h_id_preleaders2").val() + $("#h_id_preleaders2").select2('data')[0].text);
        });

        $("#h_btn_save").click(function () {

            var tempstr = [];

            $('#treetable').fancytree('getRootNode').visit(function (node) {
                    node.setExpanded();
                    if (!node.isFolder()) {
                        var $tdList = $(node.tr).find('>td');
                        console.log('visiting ' + node.key + ': ' + node.title + ': ' + $tdList.eq(3).find(">select").val()
                            + $tdList.eq(4).find(">input").val());
                        tempstr.push(node.key + ':' + $tdList.eq(3).find('>select').val()+':'+$tdList.eq(4).find('>input').val());
                    }
                }
            );

            $('#h_i_jobs').val(tempstr.toString());
            $("#h_i_preleader").val($("#h_id_preleader").val());

            var $form = $("#realentity");
            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: $form.serialize(),
                success: function (response) {
                    if (response.substring(0, 2) === "ok") {
                        real_g_success("请求确认成功！");
                    }
                    else {
                        real_g_fail(response);
                    }
                }
            });
        });
    });
</script>