<div class="weui-cells__title">预置行程模版</div>
<div class="weui-cells weui-cells_checkbox">
    <label class="weui-cell weui-check__label" for="s11">
        <div class="weui-cell__hd">
            <input type="checkbox" class="weui-check" name="checkbox1" id="s11" checked="checked">
            <i class="weui-icon-checked"></i>
        </div>
        <div class="weui-cell__bd">
            <p>2017年4月1号————2017年4月5号</p>
        </div>
    </label>

    <a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>
</div>

