<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>智慧稽查</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, userInfo-scalable=no">

    <meta name="description" content="">

    <!-- head 中 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/weui/1.1.1/style/weui.min.css">
    <link rel="stylesheet" href="//cdn.bootcss.com/jquery-weui/1.0.1/css/jquery-weui.min.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/realres/lib/weui/demos.css}"
          href="../../static/realres/lib/weui/demos.css"/>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/jquery-weui/1.0.1/js/jquery-weui.min.js"></script>
    <!--<script th:src="@{/realres/lib/weui/fastclick.js}"-->
    <!--src="../../static/realres/lib/weui/fastclick.js"></script>-->
    <script type='application/javascript' src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>


</head>

<body ontouchstart>

<div class="weui-tab" id="t1">
    <div class="weui-tab__bd">

        <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
            <div id="real_work_item_container" class="weui-popup__container">
                <div class="weui-popup__overlay"></div>
                <div class="weui-popup__modal" id="real_div_pop">
                    <header class='demos-header' style="display:inline">
                        <!-- <div style="display:inline">
                             <div style="display:inline"><img th:src="@{/realres/img/wx/me/back.png}" style="height: 50px;width:50px;padding-top: 4px"
                                       src="../../static/realres/img/wx/me/back.png" alt="智慧稽查"/></div>
                             <div style="display:inline">aa<h4 class="demos-second-title">待办事项处理</h4></div>
                         </div>-->
                        <h4 class="demos-second-title">待办事项处理</h4>
                    </header>
                    <article class="weui-article">
                        <section>
                            <div id="real_work_item_div">
                            </div>
                            <div class="weui-loadmore">
                                <i class="weui-loading"></i>
                                <span class="weui-loadmore__tips">正在加载</span>
                            </div>
                        </section>
                        <h1></h1>
                        <a href="javascript:" class="weui-btn weui-btn_primary" id="show-actions">操作按钮</a>
                    </article>
                    <!--<a href="javascript:;" class="weui-btn weui-btn_primary close-popup">关闭</a>-->
                    <div style="height: 60px">

                    </div>
                </div>
            </div>
            <div class="bd">
                <div class="weui-panel weui-panel_access">
                    <input id="myworkcount" name="myworkcount" type="hidden" th:value="${myworkcount}"
                           xmlns:th="http://www.thymeleaf.org">
                    <input id="code" name="code" type="hidden" th:value="${code}"
                           xmlns:th="http://www.thymeleaf.org">
                    <div class="weui-panel__hd" style="font-size: 16px"><span id="span_realuser"
                                                                              th:text="'尊敬的：' + ${realuser}"></span>
                    </div>

                    <div class="weui-panel__hd" hidden="hidden">
                        <h5 class="weui-msg__title" style="font-size: 16px">您暂时没有待办事项</h5></div>
                    <div class="weui-panel__hd" hidden="hidden">
                        <h5 class="weui-msg__title" style="font-size: 16px">您的待办事项列表如下：</h5></div>
                    <div class="weui-panel__bd" th:each="todo : ${todolist}">
                        <a href="javascript:void(0);" onclick="real_load_workitem(this)"
                           class="weui-media-box weui-media-box_appmsg open-popup"
                           data-target="#real_work_item_container">
                            <input name="workUri" type="hidden" th:value="${todo.workUri}">
                            <div class="weui-media-box__hd">
                                <img th:src="@{/realres/img/wx/me/approve.png}"
                                     src="../../static/realres/img/wx/me/approve.png" class="weui-media-box__thumb"/>
                            </div>
                            <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title" th:text="${todo.mainTitle}"></h4>
                                <p class="weui-media-box__desc" th:text="${todo.subTitle}"></p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>


        <div id="tab2" class="weui-tab__bd-item">
            <h1>页面二</h1>
            <a href="javascript:" class="weui-btn weui-btn_primary close-popup">关闭</a>

        </div>
        <div id="tab3" class="weui-tab__bd-item">
            <h1>页面三</h1>
        </div>
        <div id="tab4" class="weui-tab__bd-item">
            <h1>页面四</h1>
        </div>
    </div>
    <div class="weui-tabbar">
        <a href="#tab1" class="weui-tabbar__item weui-bar__item--on">
            <span class="weui-badge realaicy-work-count" style="position: absolute;top: -.4em;right: 1em;">8</span>
            <div class="weui-tabbar__icon">
                <img src="../../static/realres/img/wx/icon_nav_button.png"
                     th:src="@{/realres/img/wx/icon_nav_button.png}"
                     alt="" class="weui-tabbar__icon"/>
            </div>
            <p class="weui-tabbar__label">我的代办</p>
        </a>
        <a href="#tab2" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../../static/realres/img/wx/icon_nav_msg.png" th:src="@{/realres/img/wx/icon_nav_msg.png}"
                     alt="" class="weui-tabbar__icon"/>
            </div>
            <p class="weui-tabbar__label">我的消息</p>
        </a>
        <a href="#tab3" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../../static/realres/img/wx/icon_nav_article.png"
                     th:src="@{/realres/img/wx/icon_nav_article.png}"
                     alt="" class="weui-tabbar__icon"/>
            </div>
            <p class="weui-tabbar__label">发现</p>
        </a>
        <a href="#tab4" class="weui-tabbar__item">
            <div class="weui-tabbar__icon">
                <img src="../../static/realres/img/wx/icon_nav_cell.png" th:src="@{/realres/img/wx/icon_nav_cell.png}"
                     alt="" class="weui-tabbar__icon"/>
            </div>
            <p class="weui-tabbar__label">我</p>
        </a>
    </div>
</div>


<script>

    function real_load_workitem(obj) {
//        alert($(obj).html());

//        console.log($(obj).children(":first").val());
//        console.log("load url: " + "/wx" + $(obj).children(":first").val()+ '&code=' + $('#code').val());

        $('#real_div_pop').animate({scrollTop: 0}, 'fast');

        $('#real_work_item_div').load('/wx' + $(obj).children(':first').val() + '&code=' + $('#code').val(), function () {
            $('.weui-loadmore').hide();
        });

//        $(window).attr('location',"/wx" + $(obj).children(":first").val())
    }


    $(function () {

        FastClick.attach(document.body);

        var myworkCount = $("#myworkcount").val();

        if (myworkCount === 0) {
            $(".realaicy-work-count").remove();
        } else {
            $(".realaicy-work-count").text(myworkCount);
        }

        /*  $('.content').on('click','dd',function(){　　　　//动态事件绑定  为页面所有的dd添加一个事件 包括新增的节点
         alert($(this).val());
         });*/
    });

    $(document).on("click", "#show-actions", function () {
        $.actions({
            title: "选择操作",
            onClose: function () {
                console.log("close");
            },
            actions: [
                {
                    text: "同意",
                    className: "color-primary",
                    onClick: function () {

                        var confirmRemark = $('#confirmRemark').val();
                        var quotation = $('#quotation').val();
                        if (confirmRemark === undefined || confirmRemark === "") {
                            $.toptip('请输入处理意见');
                        } else if (quotation === undefined || quotation === "") {
                            $.toptip('请输入预报价');
                        } else {
                            $.confirm("确定提交事项处理?", "确认?", function () {

//                                console.log("action:" +$("#realentity").attr('action'));
                                $('#btnType').val("pass");
                                $.ajax({
                                    url: $("#realentity").attr('action'),
                                    type: 'POST',
                                    data: $("#realentity").serialize(),
                                    success: function (response) {
                                        if (response.substring(0, 2) === "ok") {
                                            $.toast("事项处理提交成功!");
                                            $.closePopup();
                                            window.location.reload();
                                        }
                                        else {
                                            $.toast("事项处理失败!");
                                        }
                                    }
                                });
                            }, function () {
                                //取消操作
                            });
                        }
//                        $.alert("发布成功");
                    }
                },
                {
                    text: "不同意",
                    className: "color-warning",
                    onClick: function () {
                        var confirmRemark = $('#confirmRemark').val();
                        if (confirmRemark === undefined || confirmRemark === "") {
                            $.toptip('请输入处理意见');
                        } else {
                            $.confirm("确定提交事项处理?", "确认?", function () {
                                $('#btnType').val("deny");
                                $.ajax({
                                    url: $("#realentity").attr('action'),
                                    type: 'POST',
                                    data: $("#realentity").serialize(),
                                    success: function (response) {
                                        if (response.substring(0, 2) === "ok") {
                                            $.toast("事项处理提交成功!");
                                            $.closePopup();
                                            window.location.reload();
                                        }
                                        else {
                                            $.toast("事项处理失败!");
                                        }
                                    }
                                });

                                $.toast("事项处理提交成功!");
                                $.closePopup();
                                window.location.reload();
                            }, function () {
                                //取消操作
                            });
                        }
                    }
                },
                {
                    text: "返回待办工作列表",
                    className: 'color-danger',
                    onClick: function () {
                        $.closePopup();
//                        $.alert("你选择了“删除”");
                    }
                }
            ]
        });
    });

</script>

</body>
</html>
