<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" lang="zh" id="extr-page">
<head>
    <meta charset='utf-8'>

   <!-- <link rel="stylesheet" type="text/css" media="screen" th:href="@{/realres/css/login/a.css}"
          href="../static/realres/css/login/a.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/realres/css/login/b.css}"
          href="../static/realres/css/login/b.css">
    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/realres/css/login/c.css}"
          href="../static/realres/css/login/c.css">-->

    <link rel="stylesheet" type="text/css" media="screen" th:href="@{/realres/css/login/d.css}"
          href="../static/realres/css/login/d.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta name="viewport" content="width=device-width">
    <title></title>
    <meta name="viewport" content="width=device-width">

    <style>
        /*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
        html {
            font-family: sans-serif;
        }
    </style>

</head>
<body>

<div role="main">
    <div class="sn-jumbotron jumbotron-home sn-jumbotron-inverse">
        <div class="container-responsive">
            <div class="columns">
                <div class="homepage-hero-intro column">
                    <h1 class="alt-h1 text-white text-shadow-dark lh-condensed mb-3" style="font-weight: bold">智慧稽查云服务平台</h1>
                </div>
                <div class="homepage-hero-signup column">
                    <div class="d-none-sm-dn">
                        <form accept-charset="UTF-8" th:action="@{/login}" id="login-form"
                              class="home-hero-signup js-signup-form"
                              method="post">
                            <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden"
                                                                                  value="&#x2713;"/><input
                                    name="authenticity_token" type="hidden"
                                    value="e7p2FeAab7yu+ZgnycjeZQyrfp0ZLXwpKhwkGeiNbcJWKwuo8Gq62kh0vI2UPl27tALuXISkOTj6wa4Ni+ZfxA=="/>
                            </div>
                            <dl class="form">
                                <dd>
                                    <label class="form-label text-shadow-light sr-only" for="username">请输入用户名</label>
                                    <input type="text" name="username" id="username"
                                           class="form-control form-control-lg input-block"
                                           placeholder="请输入用户名" data-autocheck-url="/signup_check/username"
                                           autofocus>
                                </dd>
                            </dl>
                            <dl class="form">
                                <dd>
                                    <label class="form-label text-shadow-light sr-only" for="password">请输入密码</label>
                                    <input type="password" name="password" id="password"
                                           class="form-control form-control-lg input-block"
                                           placeholder="请输入密码">
                                </dd>
                            </dl>
                            <input type="hidden" name="source" class="js-signup-source" value="form-home">
                            <button class="btn btn-theme-green btn-jumbotron btn-block" type="submit" id="real_submit">登录稽查云服务平台
                            </button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<div class="container site-footer-container">
    <div class="site-footer" role="contentinfo">

        <ul class="site-footer-links">
            <li>&copy; 2017 <span title="0.01789s from github-fe139-cp1-prd.iad.github.net">Realaicy</span>, Inc.</li>
            <li><a href="" data-ga-click="Footer, go to terms, text:terms">Terms</a></li>
            <li><a href="" data-ga-click="Footer, go to privacy, text:privacy">Privacy</a></li>
            <li><a href="" data-ga-click="Footer, go to security, text:security">Security</a></li>
            <li><a href="" data-ga-click="Footer, go to status, text:status">Status</a></li>
            <li><a href="" data-ga-click="Footer, go to help, text:help">Help</a></li>
        </ul>
    </div>
</div>

<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script src="//cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>

<script>

    $(document).ready(function () {

//        console.log(""+window.location.search);
        if(window.location.search.indexOf("error")>=0) {
            layer.alert('登录失败！', {
                skin: 'layui-layer-lan'
                ,closeBtn: 0
                ,anim: 4 //动画类型
            });
        }

        // 用户名验证
        jQuery.validator.addMethod("isUsername", function(value, element) {
//            var username = /^[a-zA-Z]{1}([a-zA-Z0-9]){4,19}$/;
            var username = /^[a-zA-Z]([a-zA-Z0-9]){4,19}$/;

            return this.optional(element) || (username.test(value));
        }, "请正确填写您的用户名");
        // 密码验证
        jQuery.validator.addMethod("isPasswd", function(value, element) {
            var username = /([a-zA-Z0-9]){8,20}$/;
            return this.optional(element) || (username.test(value));
        }, "密码只能由8-20位数字或字母组成");

        $("#real_signup").validate({

            errorPlacement: function (error, element) {
                if($(element).attr("id")==="mobilecode"){
                    error.appendTo(element.parent().parent().next().next());
                }else {
                    error.appendTo(element.parent().parent().next());
                }
            },
            highlight: function (element, errorClass) {
            },
            success: function (label) {
            },
            rules: {
                username: {
                    required: true,
                    isUsername:true
                },
                password: {
                    required: true,
                    minlength: 8,
                    maxlength: 20,
                    isPasswd:true
                }
            },
            messages: {
                username: {
                    required: '请输入用户名',
                    isUsername:'请正确填写您的用户名',
                    remote: "用户名已经存在"
                },
                password: {
                    required: '请输入密码',
                    minlength: "密码不能少于8位"
                }
            }
        });

    });


</script>
</body>
</html>

